```env
# ==========================================
# Telegram
# ==========================================
BOT_TOKEN=

# ==========================================
# Laravel API
# ==========================================
API_URL=http://127.0.0.1:8000/api

# ==========================================
# Request
# ==========================================
REQUEST_TIMEOUT=30

# ==========================================
# Application
# ==========================================
APP_ENV=local
APP_DEBUG=True

# ==========================================
# Logging
# ==========================================
LOG_LEVEL=INFO
```
